@import 'https://fonts.googleapis.com/css?family=Montserrat:400,500,600';

body {
	background-color:#f6f9fa;
	color:#3f6673;
	text-shadow: 1px 1px #fff;

}


body h1 {
	font-size:35px;
	text-shadow: 2px 2px #fff;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    
}

.btn, .badge {
  text-shadow: none;
}


#wrapper {
	display: flex;
    width: 100%;
    align-items: stretch;
}


#page-wrapper {
  width:100%;
  margin:0px; 
  padding: 0rem 2.50rem;
  min-height: 568px;

}


#page-content {
}


/*.page-header-hr {
  display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #edf1f2;
    margin-bottom: 1.5em;
    padding: 0; 
}*/


/* Main navigation */

.main-nav {
	min-width:250px;
	max-width:250px;
	background:#fff;
	padding: 0;
	margin: 0px;
	height:100vh;
	border-right: #efefef solid 1px;
}


.main-nav .sidebar-header {
	padding: 20px;

}

.main-nav .sidebar-header-small {
  display: none;

}

.main-nav ul.components {
	padding: 20px 0px;
}


.main-nav ul p {
    color: #efefef;
    padding: 10px;
}

.main-nav ul li a {
    padding: 10px 20px;
    font-size: 1.0em;
    display: block;
}

.main-nav ul li a i {
    margin-right: 10px;

}

.main-nav ul li a:hover {
    color: #3f6673;
    background: #dee9ed;
}


.main-nav ul li.active>a,
a[aria-expanded="true"] {
    color: #3f6673;
    background: #dee9ed;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 6px;
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    color: #3f6673;
    background: #f8fafb
}


/* Main navigation - ends */

.nav-border {
	display: block;
	border-right: /*#3f6673*/ #e8edef solid 1px;
	padding: 3px 15px;
	cursor: pointer; 
}

.nav-border :hover {
	color: #b8d2db;
}

/* Privremeno cu zakomentarisati ovaj deo*/
/* Dropdown - top links menu */

/*.dropdown-menu li {
  display: block;
}*/

/*.dropdown-menu li:last-child {
  margin-right: 0;
}*/

 /*.dropdown-menu li a div {
  white-space: normal;
}*/

.dropdown-menu li a {
  padding: 0px;
  min-height: 0px;
  margin: 0px;
  background-color: transparent;
}


.dropdown-user {
  right: 0;
  left: auto;
  margin-top: 7px;
}

/* Override .dropdown-item */
.dropdown-user .dropdown-item {
  padding: 0.25rem 0.25rem;
  clear: both;
}


/* Card header white */
.card .card-header-white {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

/* Card footer white */
.card .card-footer-white {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}


/* Table - survy */
.table-survy {
  background-color: #fff;
  border-radius: 0.25rem;

}

.table-survy td {
  padding:1.25rem;
}

.table-survy td:last-child {
    border-right: 1px solid #dfdfdf;
}

.table-survy td:first-child {
    border-left: 1px solid #dfdfdf;
}

.table-survy tr:last-child {
  border-bottom: 1px solid #dfdfdf; 
}


.search-holder {
  width:100%;
  display: flex;
  background-color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;
}


nav.navbar-item > ul {
  background-color: #fff;
  border: #dee2e6 solid 1px;
  font-size: 1rem;
}


.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* ----------------------------
  Recipe categories navitation 
----------------------------- */

.navbar-categories {
  height: 100%;
  background-color: #fff;
  padding: 0px;
  border: 1px solid #efefef;
  border-bottom: 0px;
  border-radius: 0.25rem;
}

.navbar-categories ul li a {
    padding: 10px 20px;
    font-size: 0.9em;
    display: block;
}

.navbar-categories ul {
  margin:0px;
}

.navbar-categories ul li
{
    border-bottom: 1px solid #dee2e6;
}

.navbar-categories ul li a:hover {
    color: #3f6673;
    background: #eff4f6;
}

.nav-item-active {
    color: #3f6673;
    background: #eff4f6;
}




/* ------------------------
  Image hover overlay
---------------------------*/

.image-container {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; 
}

.image-container:hover .image {
  opacity: 0.5;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .middle {
  opacity: 1;
}



/* ------------------------
  Card image hover overlay 
---------------------------*/
.card-img-top:hover {
  opacity: 0.8;
}


/* --------------------------
  Recipe photos hover overlay
---------------------------*/

#photos img:hover {
  opacity: 0.8;
}





/* ------------------------
  Circular buttons 
---------------------------*/


.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}



/* ---------------------------------------------------
    MODAL-WIDE
----------------------------------------------------- */

/* ~~~ Modal - wide screen ~~~ */
.modal-wide .modal-dialog{
  max-width:80%;
  
}


/* -----------------------------------------------
    INFINITE SCROLL
-------------------------------------------------*/
.ajax-load{
        background: #e1e1e1;
        padding: 10px 0px;
        width: 100%;
}


/* -----------------------------
    CARD COLUMNS RECIPES
------------------------------*/


/* Max size */
@media (min-width: 34em) {

  .card-columns-recipes {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns-recipes .card {
    display: inline-block;
    width: 100%;
  }

}

/* Min size */

@media (max-width: 34em) {

  .card-columns-recipes {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
  }
  .card-columns-recipes .card {
    display: inline-block;
    width: 100%;
  }

}



/* -----------------------------
    CARD COLUMNS PHOTOS
------------------------------*/

@media (min-width: 576px) {
  .card-columns-photos {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 4;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
  .card-columns-photos .card {
    display: inline-block;
    width: 100%;
  }

}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }

}



@media (min-width: 576px) {
  .modal-dialog-wide {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal-dialog-wide-centered {
    min-height: calc(100% - (1.75rem * 2));
  }

}

@media (max-width: 768px) {

    .main-nav {
       /* margin-left: -250px;*/
        z-index: 1;
        margin-top:0px;
        min-width: 10px
    }

    .main-nav span {
      display:none;
    }

    .main-nav .sidebar-header {
      display: none;
    } 

    .main-nav .sidebar-header-small {
      display:block;
      padding:20px;
    }

    .main-nav .sidebar-header-small h3 {
      font-size: 1rem;
    }

    .main-nav.active {
        margin-left: auto;
    }

    .container-fluid {
      margin-top: 5px;
    }
    
    .nav-border {
      display: block;
      /*border-bottom: #3f6673 dotted 1px;*/
      border-bottom: #e8edef solid 1px;
      border-right:0px;
      padding: 3px 15px;
    
      cursor: pointer; 
    }
}


}
